<html>
    <body>
        <h2 style="text-align: center;">Adicionar Novo Comentário</h2>
        <hr>
        <p><b>ID do POST #{{ post.id }}</b></p>
        <div class="content">
            <p>{{post.content}}</p>
        </div>
        <form action="{{url_for('insere_comentario', id=post.id)}}" method="POST" class="form-control">
            <label>Comentário</label>
            <input class="form-control" type="text" name="content" placeholder="Comentário" required>
            <button class="btn btn-success">Adicionar</button>
        </form>
    </body>
</html>