<!DOCTYPE html>
<html>
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Produto Cadastrado</h1>
    <ul>
        <li>Código: {{ produto[0]}}</li>
        <li>Descrição: {{ produto[1]}}</li>
        <li>Preço: {{ produto[2] }}</li>
        <li>Qtde: {{ produto[3] }}</li>
    </ul>
        <li><a href="/">Voltar para o menu</a></li>
        <li><a href="/atualizar">Atualizar Preço</a></li>
        <li><a href="/repor">Repor Produto</a></li>
        <li><a href="/vender">Vender Produto</a></li>
        <li><a href="/excluir">Excluir Produto</a></li>


</body>
</html>