#container{
  display: flex;
  justify-content: center;
}

#tabela {
  width: 30vw;
  height: 30vh;
}

.itens {
  margin-top: 2vh;
}

#bloco {
  margin-left: 1vw;
  margin-top: 2vh;
  width: 30vw;
  height: 40vh;
}
