body {
    font-family: Arial, Helvetica, sans-serif;
}

header { /* E um "Container" */
    display: flex; /* Alinhar na mesma linha */
    justify-content: space-between; /* Espaco entre eles (depende do "display") */
    border: 1px solid navy; /* Borda = traco continuo (solid) */
    padding: 30px; /* Margem interna, entre borda e elementos */
}

#titulo { /* Seletor = apenas um elemento */
    color: blue;
    font-size: 50px;
}

h2 { /* Tag = Todos os elementos */
    color: cornflowerblue;
}

.products { /* Classe = varios elementos */
    color: aliceblue;
    background-color: darkblue; /* Cor de fundo */
}